@model Bread

<div class="row">
    <div class="col-sm-6">
        <div class="card" style="width: 33rem;">
            ​<picture>
                <img src="~/Images/bread.jpg" class="card-img-top img-fluid img-thumbnail" alt="">
                <source srcset="@Model.ImageThumbnail" type="image/svg+xml">
            </picture>
            <!--class="card-img-top" src="~/Images/bread.jpg" alt="">-->
            <div class="card-body">
                <h3 class="pull-right">
                    @Model.Price.ToString()
                </h3>
                <h3>
                    <a asp-controller="Bread" asp-action="Details" asp-route-id="@Model.BreadId">@Model.Name</a>
                </h3>
                <p class="card-text">@Model.Description</p>
                <div class="addToCart">
                    <p class="button">
                        <a class="btn btn-primary"
                           asp-route-id="@Model.BreadId">Add to cart</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

