@model Bread

<h2>@Model.Name</h2>
<div class="thumbnail">
    <img alt="@Model.Name" src="~/Images/artisan-sourdough-bread.jpg" class="img-fluid" style="width:400px;height:300px;" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price.ToString("c")</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.Description</h4>

        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary"
                   asp-route-breadId="@Model.BreadId">Add to cart</a>
            </p>
        </div>
    </div>
</div>